@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --font-sans: 'Inter', sans-serif;
}

:root {
  --ui-radius: 0rem;
  /* see https://ui.nuxt.com/docs/getting-started/theme/css-variables#container  */
  --ui-container: 100rem; /* increase container width so table of contents is not cut off */
}
